[submodule "Unity"]
	path = Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "manuscript-schema"]
	path = manuscript-schema
	url = git@github.com:ODU-CGA-CubeSat/manuscript-schema.git
[submodule "manuscript-templates"]
	path = manuscript-templates
	url = git@github.com:ODU-CGA-CubeSat/manuscript-templates.git
